body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #153b50;
    color: #a7b3dd;
}

header {
    box-sizing: border-box;
    width: 500px;
    margin: 60px auto;
    text-align: center;
}

#sub {
    padding: 20px;
    font-size: 18px;
}

main {
    box-sizing: border-box;
    width: 500px;
    margin: 20px auto;
    text-align: center;
}

.numbers {
    box-sizing: border-box;
    font-size: 120px;
    margin: 100px 10px 80px;
}

.button {
    box-sizing: border-box;
    margin: 140px 40px 20px;
}

#btn {
    padding: 12px 80px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 16px;
    color: white;
    background-color: black;
    transition: 0.72s;
    border: 0px;
}

#btn:hover {
    background-color: white;
    color: black;
}

#special-msg {
    box-sizing: border-box;
    margin: 40px;
    padding: 20px;
    font-size: 22px;
    font-weight: 650;
}
